@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.page-heading {
		@apply text-2xl font-semibold mb-2 tracking-wide
	}
	.page-subtitle {
		@apply text-lg font-normal tracking-wide text-gray-500
	}
	.super-grid {
		@apply grid grid-cols-5 gap-4 2xl:grid-cols-4 xl:grid-cols-3 desktop:grid-cols-2 tablet:grid-cols-2 phone:grid-cols-1
	}
}

.container {
	max-width: 90%;
}

html {
	font-family: "Lato", sans-serif;
}
/* Change BG Color */
:root, [date-theme] {
	/*background-color: rgb(252, 249, 249);*/
	background-color:  #f1f1f1;
}