@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.page-heading {
		@apply text-2xl font-semibold mb-2 tracking-wide
	}
	.page-subtitle {
		@apply text-lg font-normal tracking-wide text-gray-500
	}
	.super-grid {
		@apply grid grid-cols-4 gap-8 2xl:grid-cols-4 xl:grid-cols-3 desktop:grid-cols-2 tablet:grid-cols-2 phone:grid-cols-1
	}
}

.container {
	max-width: 80%;
}

html {
	font-family: "Montserrat";
}
/* Change BG Color */
:root, [date-theme] {
	background-color:  rgb(241 245 249)
}